# Archivos y carpetas de NetBeans
nbproject/private/
nbproject/build-impl.xml
nbproject/
build/
dist/
**/*.class
manifest.mf

# Carpeta de binarios compilados
bin/
*.class

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE (opcional, por si usás otro IDE después)
*.iml
.idea/
*.sublime-project
*.sublime-workspace
/05 UML/nbproject/private/
/src/05 UML/nbproject/private/
/src/06 Colecciones/nbproject/private/

# VS Code
.vscode/
*.code-workspace

# GitHub
.github/

# NetBeans
nbproject/

# Logs
*.log
